<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Login</title>
</head>
<body>
    <h1>Social Login App</h1>
    <p>Your are at login page</p>
    <a href="/auth/logout"><button>Logout</button></a>
    <a href="/auth/login"><button>Login</button></a>
    <a href="/"><button>Home</button></a>
    <a href="/auth/google"><button>Google</button></a>
</body>
</html>